/* add home page styles here */
input{
    display:block;
    margin: 10px;
    height: 30px;
}
.hidden {
    display: none;
}
.visible{
    display: block;
}

button {
    cursor: pointer;
    color: rgb(74, 67, 67);
    background: linear-gradient(#1ac173, #9fe591);
    height: 28px;
    border: none;
    box-shadow: 3px 3px 9px;
    border-radius: 15px;
}
